
<div id="questions_div">
<p>
    Para votar, vc deverá executar os passos abaixo.<br />
    Caso você ainda não tenha logado, você será solicitado a fazê-lo ao final deste processo.
<p>
    
<ol>
    <li> <b>Selecione</b> seu candidato(a) ou opção preferida<br />
<span style="font-size: 14pt;">Você poderá navegar para frente ou para trás sempre que desejar.</span></li>
<br />

    <li> <b>Revise &amp; Confirme</b> suas escolas.<br />
<span style="font-size: 14pt;">
  Suas escolhas são criptografadas de forma segura em seu navegador, e você recebe um código para rastrear a sua cédula <br />
</span>
</li>
<br />

    <li> <b>Deposite</b> sua cédula criptografada.<br />
<span style="font-size: 14pt;">
Você será solicitado a submeter sua cédula criptografada para computar o seu voto.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Começar</button></div>
</div>

