
<div id="questions_div">
<p>
	Para votar, você deverá executar os seguintes passos.<br />
	Se você ainda não tiver logado-se, você será solicitado a fazê-lo no final do processo.
<p>
    
<ol>
    <li> <b>Selecione</b> a sua opção preferida.<br />
<span style="font-size: 14pt;">Você pode facilmente navegar para frente ou para trás.</span></li>
<br />

    <li> <b>Revise &amp; Confirme</b> as suas escolhas.<br />
<span style="font-size: 14pt;">
  As suas escolhas são encriptadas de forma segura no seu browser, e você irá receber um código para rastreamento da cédula.<br />
</span>
</li>
<br />

    <li> <b>Deposite</b> a sua cédula criptografada.<br />
<span style="font-size: 14pt;">
Você será solicitado para logar-se para depositor sua cédula para contagem.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Iniciar</button></div>
</div>
