{% extends TEMPLATE_BASE %}
{% block title %}Confirme o Voto{% endblock %}

{% block content %}
<h1>{{election.name}} &mdash; Voto Depositado com Sucesso!</h1>

<p>
	Parabéns, o seu voto foi <b><u>depositado com sucesso</u></b>!
</p>

<p>
  O seu código de rastreio é:<br /><br />
    <tt style="font-size:1.8em; font-weight: bold; padding-left: 20px;">  {{vote_hash}}</tt>
</p>

{% if logout %}
<p><b>Para a sua segurança, você foi deslogado.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="/auth/logout">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
[ <a href="{% url "helios.views.one_election_view" election.uuid %}">retornar à tela de informações da eleição</a> ]
</p>

{% endblock %}
